
   <!--<div class="col-sm-6 col-md-3">-->
     <div class="thumbnail text-left astroBg thumbnailNew">
     <div class="text-left">
       <div class="profile">
         <a href="/celebrityastrologer/vinod-kumar-pandey.aspx" id="LnkAstroProfile1">
           <img class="b-lazy pull-left img-circle margin_Rgt10 b-loaded" alt="Dr Vinod Pandey" title="Dr Vinod Pandey" lazy-src="https://images.astroyogi.com/astroyogi2017//english/images/root/placehol/separator_logo.jpg" src="https://images.astroyogi.com/english/astrologer/profileimage/dr-vinod-pandey-15368178531.jpg">
         </a> <a href="/celebrityastrologer/vinod-kumar-pandey.aspx" class=" top0 profile_link top5 font14 profile_link" id="LnkAstroProfile1">
           <span>Dr Vinod Pandey</span>
         </a>

         <div class="star pull-left top0 h6">
           <div class="star_rating_a">
             4.19
             <span class="glyphicon glyphicon-star glyphicon_gray_star " aria-hidden="true"></span>
           </div>
         </div>

       </div>
       <div class="clearfix"></div>
       <div class=" call_action">
         <div class="col-md-7  col-xs-9">
           <div class="row ">
             <p class="top10 margin0 LightGrayColor "><span class="sprite_talk_astrologer sprite_experience "></span>Exp : 13 years</p>
             <p class="margin0 LightGrayColor top5"><span class="sprite_talk_astrologer sprite_rupee"></span>30.00/Min</p>
           </div>
         </div>
         <div class="col-md-5 col-xs-3  text-center" (click)="CheckSignup(11452)" >
           <a id="LnkCallNow1" class="onlineaction cursor-pointer">
             <span class="sprite_talk_astrologer sprite_call_width sprite_online"></span>
             <div class="clearfix"></div>
             Online
           </a>

         </div>
       </div>
       <div class="clearfix"></div>
     </div>
       </div>
     <div>
       <app-registration [showDialog]="showDialog"></app-registration>
     </div>
   <!--</div>-->

